header {
    font-style:normal;
    font-size: 55px;
    color: white;

}

a:link {
    color: white;
}

a:visited {
    color: white;
}

body {
    background-image: url(../img/Varberg.JPG);
    background-size: cover;
    background-attachment: fixed;
}

#wrapper {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;

    font-size: larger;
    color: black;
    
    margin-top: 10%;

    background: rgba(243, 241, 241, 0.727);
}